.button {
  background-color: rgb(255, 202, 202);
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.active {
  background-color: rgb(255, 0, 0);
  color: white;
}
