.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #d6d6d6;

  .btnImg {
    width: 100px;
    margin: 0 20px;
  }

  .backpageImg {
    width: 400px;
  }
}
