//   message bubble and images ----------------
.position {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  height: 700px;
}

.messageImg {
  width: 800px;
  position: relative;

  .image {
    position: absolute;
    width: 100%;
  }

  .message {
    position: absolute;
    text-align: center;
    font-size: 1.7rem;
    width: 700px;
    top: 30px;
  }

  .volcanoImg {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(140%, 250%);
  }
}
